<!DOCTYPE HTML>
<html>

    {{ partial "header.html" . }}
    <body>

    {{ "<!-- Wrapper -->" | safeHTML }}
        <div id="wrapper">

            {{ partial "nav.html" . }}

        {{ "<!-- Main -->" | safeHTML }}
            <div id="main" class="alt">
                <section id="banner" class="style2">
                    <div class="inner">
			        {{ if .Params.banner }}
                        <span class="image">
                            <img src="{{ .Site.Params.baseURL }}/img/{{ .Params.banner }}" alt="" />
                        </span>
			        {{ end }}
                    </div>
                </section>
                <!-- One -->
                    <section id="one">
                        <div class="inner">
                            <header class="major">
                                <h1>{{ .Title}}</h1>
                            </header>
                            <ul class="actions small">
                                {{ with .Params.tax }}
                                    <li><a href="#" class="button special small">{{ . }}</a></li>
                                {{ end }}
                                {{ with .Params.cycle }}
                                    <li><a href="#" class="button special small">{{ . }}</a></li>
                                {{ end }}
                                {{ range .Params.tags}}
                                    <li><a href="#" class="button special small">{{ . }}</a></li>
                                {{ end }}
                            </ul>
                            <!-- Content -->
                            <div class="row align-center">
                                <div class="4u 12u$(xsmall)">
                                    <h2>{{ .Params.dm }}</h2>
                                    <h3>Dry matter (lbs/A)</h3>
                                </div>
                                <div class="4u 12u$(xsmall)">
                                    <h2>{{ .Params.ph }}</h2>
                                    <h3>Preferred pH</h3>
                                </div>
                                <div class="4u$ 12u$(xsmall)">
                                    <h2>{{ .Params.n }}</h2>
                                    <h3>Total nitrogen (lbs/A)</h3>
                                </div>
                            </div>
                            <!-- Planting Table -->
                            <div class="row">
                                <div class="4u 12u$(xsmall) box">
                                    <h4>Planting information</h4>
                                    <ul class="alt">
                                        {{ with .Params.planting }}<li>Planting window: <strong>{{ . }}</strong></li>{{ end }}
                                        {{ with .Params.depth }}<li>Planting depth (in): <strong>{{ . }}</strong></li>{{ end }}
                                        {{ with .Params.drilled }}<li>Drilled rate (lbs/A): <strong>{{ . }}</strong></li>{{ end }}
                                        {{ with .Params.broadcast }}<li>Broadcast rate (lbs/A): <strong>{{ . }}</strong></li>{{ end }}
                                    </ul>
                                    {{ if isset .Params "disease" }}
                                    <h4>Agronomic Characteristics</h4>
                                    <ul class="alt">
                                    {{ end }}
                                        {{ with .Params.bacterialWilt }}<li>Bacterial Wilt: <strong>{{ . }}</strong></li>{{ end }}
                                        {{ with .Params.fusariumWilt }}<li>Fusarium Wilt: <strong>{{ . }}</strong></li>{{ end }}
                                        {{ with .Params.verticilliumWilt }}<li>Verticillium Wilt: <strong>{{ . }}</strong></li>{{ end }}
                                        {{ with .Params.anthracnose }}<li>Anthracnose: <strong>{{ . }}</strong></li>{{ end }}
                                        {{ with .Params.prr}}<li>Phytophthora Root Rot : <strong>{{ . }}</strong></li>{{ end }}
                                        {{ with .Params.vrr}}<li>Verticillium Root Rot : <strong>{{ . }}</strong></li>{{ end }}
                                        {{ with .Params.arr}}<li>Aphanomyces Root Rot : <strong>{{ . }}</strong></li>{{ end }}
                                    {{ if isset .Params "disease" }}
                                    </ul>
                                    {{ end }}
                                </div>
                                <div class="8u 12u$(xsmall)">
                                    <span class="image fit">
                                        <img src="{{ .Site.Params.baseURL }}/img/{{ .Params.img }}" alt="{{ .Params.source }}" />
                                        <p>{{ .Params.source }}</p>
                                    </span>
                                </div>
                            </div>
                            <!-- Traits Table -->
                            <div class="row">
                                <div class="6u 12u$(small)">
                                    <h4>Traits</h4>
                                    <div class="table-wrapper">
                                        <table>
                                            <tbody>
                                                {{ if isset .Params "heat" }}
                                                <tr>
                                                    <td>Heat Tolerance</td>
                                                    {{ partial "star.html" .Params.heat }}
                                                </tr>
                                                {{ end }}
                                                {{ if isset .Params "drought" }}
                                                <tr>
                                                    <td>Drought Tolerance</td>
                                                    {{ partial "star.html" .Params.drought }}
                                                </tr>
                                                {{ end }}
                                                {{ if isset .Params "shade" }}
                                                <tr>
                                                    <td>Shade Tolerance</td>
                                                    {{ partial "star.html" .Params.shade }}
                                                </tr>
                                                {{ end }}
                                                {{ if isset .Params "flood" }}
                                                <tr>
                                                    <td>Flood Tolerance</td>
                                                    {{ partial "star.html" .Params.flood }}
                                                </tr>
                                                {{ end }}
                                                {{ if isset .Params "fertility" }}
                                                <tr>
                                                    <td>Low Fertility Tolerance</td>
                                                    {{ partial "star.html" .Params.fertility }}
                                                </tr>
                                                {{ end }}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="6u 12u$(small)">
                                    <!-- Performance Table -->
                                    <h4>Performance</h4>
                                    <div class="table-wrapper">
                                        <table>
                                            <tbody>
                                                {{ if isset .Params "soil" }}
                                                <tr>
                                                    <td>Soil Builder</td>
                                                    {{ partial "star.html" .Params.soil }}
                                                </tr>
                                                {{ end }}
                                                {{ if isset .Params "erosion" }}
                                                <tr>
                                                    <td>Erosion Fighter</td>
                                                    {{ partial "star.html" .Params.erosion }}
                                                </tr>
                                                {{ end }}
                                                {{ if isset .Params "weed" }}
                                                <tr>
                                                    <td>Weed Fighter</td>
                                                    {{ partial "star.html" .Params.weed }}
                                                </tr>
                                                {{ end }}
                                                {{ if isset .Params "grazing" }}
                                                <tr>
                                                    <td>Good Grazing</td>
                                                    {{ partial "star.html" .Params.grazing }}
                                                </tr>
                                                {{ end }}
                                                {{ if isset .Params "growth" }}
                                                <tr>
                                                    <td>Quick Growth</td>
                                                    {{ partial "star.html" .Params.growth }}
                                                </tr>
                                                {{ end }}
                                                {{ if isset .Params "residue" }}
                                                <tr>
                                                    <td>Lasting Residue</td>
                                                    {{ partial "star.html" .Params.residue }}
                                                </tr>
                                                {{ end }}
                                                {{ if isset .Params "beneficials" }}
                                                <tr>
                                                    <td>Attract Beneficials</td>
                                                    {{ partial "star.html" .Params.beneficials }}
                                                </tr>
                                                {{ end }}
                                                {{ if isset .Params "traffic" }}
                                                <tr>
                                                    <td>Bears Traffic</td>
                                                    {{ partial "star.html" .Params.traffic }}
                                                </tr>
                                                {{ end }}
                                            </tbody>
                                        </table>
                                    </div>
                                    </div>

                            {{ .Content }}
                        </div>
                    </section>
            {{ "<!-- Disqus Inject -->" | safeHTML }}
                {{ if .Site.DisqusShortname }}
                  {{ partial "disqus.html" . }}
                {{ end }}
            </div>
            
        {{ "<!-- Footer -->" | safeHTML}}
            {{ if .Site.Params.footer.enable }}
                {{ partial "footer.html" . }}
            {{ end }}
        </div>

    {{ "<!-- Scripts -->" | safeHTML}}
        {{ partial "js.html" . }}

    </body>
</html>
